<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newburger="{{devoured}}">
		{{#if devoured}}Eat-da-burger!{{else}}Regurgitate-da-burger!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
